

<!--<nav class="navbar navbar-expand-lg navbar-light bg-light"></nav>-->
 
 <!--<div class="collapse navbar-collapse" id="navbarSupportedContent">-->
     <!---<ul class="navbar-nav mr-auto">
        <li class="nav-item">-->
       <!-- <div *ngVar="'meat' as category"></div>-->
   <!----l *ngIf="meatTemplate==true" class="meat-group">-->

   <!----  <button ng(click)="showProduitsMeat(produit)" class="btn btn-online-primary"id="show_meat">Meat</button>-->
        <button (click)="showProduitsMeat()" class="btn btn-online-primary"id="show_meat">Meat</button>
        {{produitsMeat}}
        <button (click)="showProduitsVegetable()"class="btn btn-online-primary"id="show_vegetable">Vegetable</button>
        {{produitsVegetable}}
        <button (click)="showProduitsFruit()"class="btn btn-online-primary"id="show_fruit">Fruit</button>    
         {{produitsFruit}}   
        <button (click)="showProduitsDrink()"class="btn btn-online-primary" id="show_drink">Drink</button>  
          {{produitsDrink}}   
        <button (click)="showProduitsOthers()"class="btn btn-online-primary" id="show_others">Others</button>
          {{produitsOther}}
        <input #userSearchInput (keyup)="searchProduit(userSearchInput.value)" class="" placeholder="recherche..."
            type="text"style="width:100px;">  

  <!----  <form class="form-inline my-2 my-lg-0">
            
          </form>

        
        
     <li class="nav-item active">
          <a class="nav-link" href="#">Vegetable</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Fruit</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Drink</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Others</a>
          </li>        
      </ul>
     
  
  <ul *ngIf="gridTemplate==false" class="list-group">-->
    <ul>
    <li *ngFor="let produit of produits"
        class="list-group-item d-flex justify-content-between align-item-center">
        <span>
          <button (click)="deleteProduit(produit)" class="btn btn-light">
            <i class="fa fa-trash"></i>
        </button>
            <img width="80" class="img-thumbnail" src="{{produit.image}}">    
            {{produit.nom}}
        </span>         
        <span>
             {{produit.price}}€    
            
                <button (click)="addProduitToPaniers(produit)" class="btn btn-light">
                 
                    <i class="fa fa-shopping-cart"></i>
                </button>
            </span>                
    </li>
</ul>

